.scorecontainer{
    display: grid;
    width: 240px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: inset 0 0 0.2px #000000;
    background-color: rgb(255, 255, 255);
    position: absolute;
    font-family: 'Roboto', sans-serif;
    /*Put it on center*/
    left: 20%;
    top: 55%;
    transform: translate(-50%, -50%);
    /*Make it responsive*/
    @media screen and (max-width: 600px){
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transform: translate(0, 0);
    }

}

.player{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
}


.canvas_div{
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
    place-items: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}

#resetBt{
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 0.8em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    border: 1.5px solid black;
}